<div class="wrapper pm-5 d-flex justify-content-center flex-column align-items-center" [ngClass]="{'d-none': !locationData}">
  <div class="info px-5 py-1" *ngIf="locationData">
    <h3 class="fw-bold">{{locationData.name}}, {{ locationData.description }}, {{ getCoordinates(locationData.latitude,
      locationData.longitude) }}</h3>
  </div>
  <div id="map"></div>
  <div class="footer d-flex justify-content-end w-100">
    <div class="button-wrapper p-1">
      <button mat-mini-fab color="primary" aria-label="Go to top" matTooltip="Go top" (click)="onClickGoTop()">
        <mat-icon>arrow_upward</mat-icon>
      </button>
    </div>
  </div>
</div>
