<div class="wrapper">
  <div class="form-wrapper d-flex justify-content-center p-5" id="form">
    <form [formGroup]="locationForm">
      <div class="d-flex justify-content-center">
        <mat-form-field appearance="outline">
          <mat-label>Location Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-center">
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <input matInput formControlName="description">
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-center coordinates-control">
        <mat-form-field appearance="outline">
          <mat-label>Latitude</mat-label>
          <input matInput placeholder="degrees" formControlName="latitude" appDecimal [maxLength]="7">
          <mat-error>Please enter a valid latitude</mat-error>
          <mat-icon matSuffix> location_on </mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Longitude</mat-label>
          <input matInput placeholder="degrees" formControlName="longitude" appDecimal [maxLength]="7">
          <mat-icon matSuffix> location_on </mat-icon>
          <mat-error>Please enter a valid longitude</mat-error>
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-evenly form-buttons">
        <button class="px-5 py-1" [disabled]="!locationForm.valid" mat-raised-button color="primary"
          (click)="onClickSubmit()">Submit</button>
        <button class="px-5 py-1" [disabled]="locationForm.pristine" mat-raised-button color="warn"
          (click)="onClickReset()">Reset</button>
      </div>
    </form>
  </div>

</div>
